<% layout('layouts/boilerplate.ejs') %>
<h1>Login</h1>
<form action="/login" method="POST" novalidate class="validated-form">
  <div class="mb-3">
    <label for="username" class="form-label"> UserName </label>
    <div class="input-group">
      <input
        type="text"
        id="username"
        class="form-control"
        placeholder="UserName"
        aria-label="price"
        aria-describedby="price-label"
        name="username"
        required
      />
      <div class="valid-feedback">Looks Good</div>
    </div>
  </div>

  <div class="mb-3">
    <label for="password" class="form-label"> Password </label>
    <div class="input-group">
      <input
        type="password"
        id="password"
        class="form-control"
        placeholder="Password"
        aria-label="price"
        aria-describedby="price-label"
        name="password"
        required
      />
      <div class="valid-feedback">Looks Good</div>
    </div>
  </div>
  <div class="mb-3" hidden>

    <div class="input-group">
      <input
        type="text"
        id="prevUrl"
        class="form-control"
        placeholder=""
     
  
        name="prevUrl"
        value= <%=prevUrl%>
        
      />
      <div class="valid-feedback">Looks Good</div>
    </div>
  </div>
  <button class="btn btn-success">LogIn</button>
</form>

<script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
       'use strict'
 
       // Fetch all the forms we want to apply custom Bootstrap validation styles to
       const forms = document.querySelectorAll('.validated-form')
 
       // Loop over them and prevent submission
       Array.from(forms)
          .forEach(function (form) {
             form.addEventListener('submit', function (event) {
                if (!form.checkValidity()) {
                   event.preventDefault()
                   event.stopPropagation()
                }
 
                form.classList.add('was-validated')
             }, false)
          })
    })()
 </script>